.h-pred{
    height: 200px;
}

#box-cart{
    position: fixed;
    height: 50%;
    width: 50vw;
    left: 80%;
    background-color: gainsboro;
    transform: translateX(50%);
    transition: all 1s linear;
    padding-top: 10px;
    padding-left: 10px;
    z-index: 5;
    opacity: 80%;
}

#cart:checked~#box-cart{
    transform: translateX(-10%);
    transition: transform 0.7s linear;
}